{% extends 'base.html.twig' %}

{% block title %}Modifier Proprietaire{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}

<div class="admin-container">
    <h1>Modifier Proprietaire</h1>

    {{ include('proprietaire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_proprietaire_index') }}" class="btn btn-ghost btn-sm">← Retour</a>
</div>
{% endblock %}
